{{- if isset .Site.Params "webmentions" }}
    {{- if isset .Site.Params.webmentions "login" }}
        <link rel="webmention" href="https://webmention.io/{{.Site.Params.webmentions.login}}/webmention" />
        {{- if eq .Site.Params.webmentions.pingback true }}
            <link rel="pingback" href="https://webmention.io/{{.Site.Params.webmentions.login}}/xmlrpc" />
        {{- end }}
    {{- end }}
    {{- if isset .Site.Params.webmentions "url" }}
        <link rel="webmention" href="{{.Site.Params.webmentions.url}}" />
    {{- end }}
{{- end }}

{{- if .Site.Params.UmamiAnalytics.enabled }}
    {{ partial "umami_analytics.html" . }}
{{- end }}
